.dark-mode {
  background-color: #000; /* Body background black */
  color: #fff;            /* Text white */
}

.light-mode {
  background-color: #f3f3f3; /* Or any off-white you prefer */
  color: #000;
}

